<!doctype html>
<html ng-app="XPBoard">
  <head>
    {% block head %}
    <script src=<% get_static_url("tmp/angular.min.js") %>></script>
    <script src=<% get_static_url("tmp/jquery-1.8.1.min.js") %>></script>
    <script src=<% get_static_url("tmp/underscore-min.js") %>></script>
    <script src=<% get_static_url("js/app.js") %>></script>
    <script src=<% get_static_url("js/directives.js") %>></script>
    <script src=<% get_static_url("js/controllers.js") %>></script>
    <script src=<% get_static_url("js/factories.js") %>></script>

    <link href=<% get_static_url("tmp/bootstrap.min.css") %> rel="stylesheet"></link>
    <link href=<% get_static_url("css/sticky_style.css") %> rel="stylesheet"></link>
    {% endblock %}
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
