/* Start: Recommended Isotope styles */

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope,
.isotope .isotope-item {
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:      -o-transform, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* Start: General styles */

.table-hover tr.needs-review > td, .table-hover tr.needs-revision > td {
	background-color: #FFE2E2;
}

.table-hover tr.needs-review:hover > td, .table-hover tr.needs-revision:hover > td {
	background-color: #FFD1D1;
}

div.main-nav .navbar-inner {
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	padding: 5px 20px;
}

div.main-nav .navbar-inner .brand {
	color: #ddd;
	font-size: 24px;
	padding-right: 20px;
	text-shadow: 2px 2px #666;
}

div.main-nav .navbar-inner ul.nav li.dropdown.open a.dropdown-toggle, div.main-nav .navbar-inner ul.nav li.dropdown:hover {
	background: rgba(255, 255, 255, 0.05);
	border-radius: 10px;
	color: #fff;
	text-shadow: 0px 0px 5px #fff;
}

div.main-nav .navbar-inner ul.nav li.dropdown b.caret {
	border-top-color: #eee;
	margin-left: 10px;
}

div.main-nav .navbar-inner ul.nav li a {
	color: #eee;
	font-size: 16px;
	text-shadow: 2px 2px #666;
}

div.main-nav .navbar-inner ul.nav ul.dropdown-menu a {
	color: #666;
	font-size: 14px;
	text-shadow: 2px 2px #ddd;
}

div.main-nav .navbar-inner ul.nav ul.dropdown-menu li > a:hover {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(221,221,221,1) 50%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(221,221,221,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 50%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 50%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 50%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(221,221,221,1) 50%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	color: #333;
	text-shadow: 2px 2px #bbb;
}

div.main-nav .navbar-inner ul.nav li.dropdown.open a.dropdown-toggle b.caret {
	border-top-color: #fff;
}

div.table-header .navbar-inner ul.nav {
    float: right;
}

div.table-header .owner-title {
    text-shadow: 2px 2px #ccc;
}

div.table-header ul.nav li a {
    padding: 10px 0 10px 10px;
}

table.sortable th {
	background: url('../images/unsorted.gif') no-repeat right center;
    cursor: hand;
    padding-right: 20px;
}

table.sortable th.headerSortDown {
	background: #eee url('../images/asc.gif') no-repeat right center;
}

table.sortable th.headerSortUp {
	background: #eee url('../images/desc.gif') no-repeat right center;
}

/* End: General styles */

/* Start: Tickets */

thead th.ticket {
    min-width: 70px;
}

/* End: Tickets */

/* Start: Media Queries */

/* Note: Since media queries are more expensive to compute, try to use as few queries as possible. */

@media (min-width: 980px) {

	/* Start: General styles */

	div.page {
		margin-top: 70px;
	}

	/* End: General styles */
}

/* End: Media Queries */

